@import url(assets/styles/stylesheet.css); 

h3 {
    margin: 20px 0 20px 0;
}

main img {
    float: left; 
    margin: 20px 20px 20px 0;
    width: 30%;
    min-height: 125px;
    border-radius: var(--radius);
}

#aboutus-section { 
    display: flex; 
    gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color);
    border-radius: var(--radius);
    padding: 20px;
    margin: 50px auto 0 auto;
    width: 75%;   
}

.aboutus-section-item { 
    font-size: var(--p-font);
    text-align: justify;
    height: 100%;
    padding: 15px;
    background-color: var(--bckg-color);
    width: 100%;
    border-radius: var(--radius);
    flex-grow: 1;
}

.aboutus-section-item article {
    font-size: var(--p-font);
    text-align: left;
    column-width: 300px;
    column-count: 3;
    column-rule: 2px solid var(--text-color);
    column-gap: 40px;
}

.aboutus-section-item iframe {  
    width: 100%;
    min-height: 500px;
    border-radius: var(--radius);
}

@media(max-width: 600px) {

    main img {
        width: 100%;
        min-height: 150px;
    }
}