@import url(/assets/styles/stylesheet.css);

#contact-page {
    border-radius: var(--radius);
    background-color: var(--main-color);
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%; 
    width: 60%;
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 15px;
    gap: 1em;
}

.contact-item {
    width: 100%;
    flex-grow: 1;
    background-color: var(--bckg-color);
    padding: 10px;
    border-radius: var(--radius);
}

#contact-details {
    width: 100%;
    background-color: var(--bckg-color); 
    border-radius: var(--radius);
}   
#contact-details ul {
    list-style-type:square;
    padding-left: 40px;
    text-align: left;
}
#contact-details li {
    font-size: var(--p-font);
    padding: 15px;
}

#contact-location {
    flex-grow: 1;
    border-radius: var(--radius);
    padding: 20px;
}

#contact-location iframe {
    border-radius: var(--radius);
    width: 100%;
    min-height: 200px; 
}

#contact-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    border-radius: var(--radius);
}

#contact-form form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    justify-content: space-between
}

#contact-form textarea {
    resize: none; 
    height: 200px;
}

.contact-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    border-radius: var(--radius);
    flex-grow: 1;
}

.input-field {
    flex-grow: 1;
    padding: 20px;
    border-radius: var(--radius);
    max-height: 500px;
}

.contact-inputs-button {
    padding: 20px;
    width: 200px;
    margin: auto;
    border-radius: var(--radius);
}

