@import url(assets/styles/stylesheet.css);
@import url(assets/styles/indexstyle.css);

main img {
    transition: all .6s;
    margin: 20px 0 20px 0;
    width: 100%;
    min-height: 150px;
    border-radius: var(--radius);
}

#events-page {
    border-radius: var(--radius);
    background-color: var(--main-color);
    margin: auto;
    margin-top: 50px;
    width: 75%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 1em;
}

.events-item {
    width: 100%;
    min-width: 300px;
    flex-grow: 1;
    background-color: var(--bckg-color);
    padding: 10px;
    border-radius: var(--radius);
}

.quick-menu {
    text-align: center;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.quick-menu-item {
    background-color: var(--main-color);
    min-width: 250px;   
    flex-grow: 1;
    padding: 20px;
    border-radius: var(--radius);
}

.quick-menu-item img:hover {
    transform: scale(1.01);
}

.events-table {
    overflow-x: auto;
}

.events-table table{
    font-size: var(--p-font);
    border-collapse: collapse;
    border-radius: var(--radius);
    background-color: var(--main-color);
    padding: 0 5px 0 5px;
    width: 100%;
    text-align: left;
}

.events-item th, td {
    padding: 15px;
    border: 3px solid var(--bckg-color);
}

@media(max-width: 600px) {

    main img {
        width: 100%;
        min-width: 200px;
        min-height: 150px;
    }
}