@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12em;
}

:root {
    --text-color: #DCD7C9;
    --main-color: #2C3639;
    --bckg-color: #3F4E4F;
    --secndry-color: #A27B5C; 
    --font-family-p: Jost;
    --font-family-h: Marcellus;
    --h1-font: 4rem;
    --h2-font: 2rem;
    --h3-font: 1.6rem;
    --p-font: 1.3rem;
    --p-font-weight: 300;
    --radius: 20px;
}

body {
    color: var(--text-color);
    background-image: url("../images/background_ink.png"); 
    background-repeat: no-repeat; 
    background-size: cover;
    transition: all .6s;  
}

body h1 {
    font-size: var(--h1-font);
    font-family: var(--font-family-h);
    color: var(--secndry-color);
    text-shadow: 2px 2px var(--main-color);
}

body h2 {
    font-family: var(--font-family-p);
    font-size: var(--h2-font);
    font-weight: var(--p-font-weight);
    color: var(--secndry-color);
}

body h3 {
    font-size: var(--h3-font);
    font-family: var(--font-family-h);
    color: var(--text-color);
}

body a {
    font-family: var(--font-family-p);
    font-weight: var(--p-font-weight);
    color: var(--text-color);
}

body li {
    font-size: var(--p-font);
    font-family: var(--font-family-p);
    font-weight: var(--p-font-weight);
}

body p {
    font-family: var(--font-family-p);
    font-weight: var(--p-font-weight);
    color: var(--text-color);
}

header {
    position: fixed; 
    height: 100px;   
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--main-color);
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    transition: all .55s ease;
    box-shadow: 2px 2px 6px black;
}

main {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: var(--font-family-h);
    text-align: center;
}

.logo {
    height: 100%;
    max-width: 80px;
}

#logo { 
    height: 100%;
    min-width: 40px;
    transition: all .6s;
}

#logo:hover {
    transform: scale(1.02);
}

.menu {
    transition: all .5s;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu a {
    font-family: var(--font-family-p);
    display: inline-block;
    margin: 0 30px;
    color: var(--secndry-color);
    font-size: var(--h3-font);
    transition: all .6s;
    text-transform: uppercase;
}

.menu a:hover {
    transform: translateY(-5px);
    color: var(--text-color);
}

.ri-menu-3-line {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    display: block;
    color: var(--secndry-color);
    display: none;
    transition: all .5s;
}

footer {
    margin-top: 20%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;  
    background-color: var(--main-color);
}

#footer-menu ul {
    list-style: none;
    text-align: right;
}

#footer-menu li {
    font-size: 1rem;    
    list-style: none;
    text-align: right;
}

#footer-menu a {
    text-decoration: none;
    color: var(--text-color);
}

#footer-text {
    font-size: 0.8rem;
    text-align: center;
}

#footer-logo {
    width: auto;
    height: 30px;
}

@media(max-width: 1200px) {

    header {
        height: 80px;
    }   

    .menu {
        margin: 0;
        padding: 0;
        position: fixed;
        right: -200px;
        top: 80px;
        width: 200px;
        background-color: var(--bckg-color);
    }

    .menu ul{
        display: block;
    }

    .menu a {
        text-align: right;
        display: block;
        padding: 0;
        margin: 30px 10px 30px 0;
        font-size: 1.5rem;
    }

    .ri-menu-3-line {
        display: block;
    }

    #footer-menu li {
        font-size: 0.8rem;    
        list-style: none;
        text-align: right;
    }

    .menu.active {
        right: 0px;
    }

    .ri-menu-3-line.active {
        color: var(--text-color);
    }

}

@media(max-width: 600px) {
    
    :root {
        --h1-font: 2rem;      
        --h2-font: 1.2rem;
        --h3-font: 1rem;
        --p-font: 1rem;
    }
    main {
        margin-top: 120px;
    }
   

    .ri-menu-line {
        visibility: visible;
    }

    .menu {
        margin: 0;
        padding: 0;
        position: fixed;
        right: -200px;
        top: 80px;
        width: 200px;
        background-color: var(--bckg-color);
    }

    .menu ul{
        display: block;
    }

    .menu a {
        text-align: right;
        display: block;
        padding: 0;
        margin: 30px 10px 30px 0;
        font-size: 1.5rem;
    }

}