@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color: #DCD7C9;
    --main-color: #2C3639;
    --bckg-color: #3F4E4F;
    --secndry-color: #A27B5C; 
    --font-family-p: Jost;
    --font-family-h: Marcellus;
    --h1-font: 4rem;
    --p-font: 1.5rem;
}

body {
    color: var(--text-color);
    background-color: var(--bckg-color);    
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--main-color);
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 16px 9%;
    transition: all .55s ease;
}

main {
    text-align: center;
}

h1 {
    font-family: var(--font-family-h);
    color: var(--secndry-color);
}

footer {
    height: 80px;
    text-align: center;
    background-color: rgb(162, 123, 92);
}

#logo {
    width: 100px;
    height: 100px;
    transition: all .6s;
}

#logo:hover {
    transform: scale(1.02);
}

.navmenu {
    display: flex;
}

.navmenu a {
    font-family: var(--font-family-p);
    display: inline-block;
    margin: 0 30px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s;
    text-transform: uppercase;
}

.navmenu a:hover {
    transform: translateY(-5px);
    color: ghostwhite;
}

.nav-right {
    display: flex;
    align-items: center;
}

.wrapper-main {
    padding-top: 200px;
    width: 1400px;
    margin: 0 auto;
}

.main-content {
    font-size: var(--h1-font);
}

#menu-icon {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    visibility: hidden; 
}